/*Selector {
	Property: value;
}*/

body {
	background-image: url(yugioh.jfif)
}

h1 {
	color: #AA4139;
	text-decoration: underline;
}

h6 {
	color: #860000;
	text-decoration: underline;
}

ul {
	color: darkkhaki;
}